/* common css starts here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* common css ends here */
/* main file css starts here */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .row{
    gap: 15px;
}
.img_div{
    width: calc(25% - 15px);
    height: 500px;
    overflow: hidden;
}
.img_div img{
    width: 100%;
    height: 100%;
    display: block;
}
/* main file css ends here */