/* common css starts here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* h1 tag css starts here */
h1{
    color: orange;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 25px 0;
}
/* h1 tag css ends here */
/* common css ends here */
/* main file css starts here */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .row{
    gap: 15px;
}
.img_div{
    width: calc(25% - 15px);
    height: 500px;
    cursor: pointer;
    overflow: hidden;
}
.img_div img{
    width: 100%;
    height: 100%;
    display: block;
}
/* main file css ends here */
/* popup section css starts here */
.popup{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.popup.show{
    opacity: 1;
    visibility: visible;
}
.popup img{
    width: 100%;
    max-width: 350px;
    height: 500px;
}
.popup button.cancelBtn{
    position: absolute;
    right: 50px;
    top: 50px;
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.leftArrow,
.rightArrow{
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: none;
    background: transparent;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
}
.leftArrow{
    left: 50px;
}
.rightArrow{
    right: 50px;
}
/* popup section css ends here */