/* common css starts here */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* common css ends here */